@charset "UTF-8";

@font-face {
    font-family: 'basketball';
    src: url('./fontes/Basketball.otf') format('opentype');
}

@font-face {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor1: #FF9c6f;
    --cor2: #f87d45;
    --cor3: #ee5814;
    --cor4: #bb3f07;
    --cor5: #932E00;
    --corpadrao: #E65A31;

    --fonttitulo: 'basketball';
    --fontpadrao: 'Segoe UI';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--corpadrao);
    font-family: var(--fontpadrao);
}

header{
    margin: auto;
    text-align: center;
    min-width: 500px;
    max-width: 1280px;    
}
header picture{
    width: 100%;
}

nav{
    background-color: var(--corpadrao);
    margin: auto;
    text-align: center;
    margin-top: -32px;
    font-size: 1.6em;
    padding: 32px;
   
    
}
nav>.navlink{
    font-family: var(--fonttitulo);
    color: white;
    text-decoration: none;
    padding-right: 8px;
}
nav>.navlink:hover{
    font-weight: bolder;
    color: lightgreen;
}

#mainquemsomos, #mainhome{
    background-color: white;
    margin: 12px;
    padding: 20px;
    min-width: 500px;
    max-width: 1280px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
}

.articlequemsomos{
    margin: auto;
    padding: 12px;
}
.articlequemsomos > .h1articleqs{
    font-family: var(--fonttitulo);
    font-weight: normal;
    font-size: 2em;
    padding-bottom: 4px;
    text-indent: 20px;
}
.articlequemsomos > .particleqs{
    font-weight: normal;
    padding: 8px;
    text-indent: 20px;
}
.articlelink{
    text-decoration: none;
    color: var(--corpadrao);
}
.articlelink:hover{
    font-size: bolder;
    color: var(--cor5);
}

footer{
    background-color: white;
    margin: 12px;
    padding: 20px;
    min-width: 500px;
    max-width: 1280px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 32%);
    text-align: center;
}
footer >h2, h3{
    font-family: var(--fonttitulo);
    font-weight: normal;
    padding-bottom: 16px;
    text-indent: 20px;
}
footer >p{
    font-weight: normal;
    padding: 4px;
    text-indent: 20px;
}
.footerlink{
    color: var(--corpadrao);
    text-decoration: none; 
    font-weight: bold;   
}
.footerlink:hover{
    font-weight: bolder;
    color: var(--cor5);
}
.footerface{
    padding: 4px;

}
.footermap{
    padding: 4px;
   
}
.footerface, .footerinsta{
    text-decoration: none;  
    
}
footer >h3{
    padding: 16px;
}
footer > a{
    margin-right: 16px;
}
footer > a:hover{
    color: var(--corpadrao);
    font-weight: bolder;
}

.divhome{
    margin: 0px -16px 0px -16px;
    padding: 20px;
    padding-bottom: 56%;    
    position: relative;
    
}
.divhome > iframe{
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    width: 92%;
    height: 92%;
}
iframe{
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
}