@charset "UTF-8";

@font-face {
    font-family: 'basketball';
    src: url('./fontes/Basketball.otf') format('opentype');
}

@font-face {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor1: #FF9c6f;
    --cor2: #f87d45;
    --cor3: #ee5814;
    --cor4: #bb3f07;
    --cor5: #932E00;
    --corpadrao: #E65A31;

    --fonttitulo: 'basketball';
    --fontpadrao: 'Segoe UI';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--corpadrao);
    font-family: var(--fontpadrao);
}

header{
    margin: 32px 0px 0px 8px;
    text-align: left;
    
}
nav{
    background-color: var(--corpadrao);
    text-align: right;
    margin: 0px 0px 0px 0px;
    font-size: 1.6em;
   
    
}
nav>a{
    font-family: var(--fonttitulo);
    color: white;
    text-decoration: none;
    padding-right: 8px;
}
nav>a:hover{
    font-weight: bolder;
    color: lightgreen;
}